<template>
  <Layout>
    <h1>CI</h1>

<h3>Building containers via GitLab CI</h3>

<ul>
<li><a href="https://blog.zopyx.com/on-docker-security-docker-group-considered-harmful/">On Docker security: 'docker' group considered harmful</a></li>
</ul>


  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Troubleshooting Elasticsearch',
    meat: [
      { name: 'author', content: 'Brie Carranza' }
    ]
  }
}
</script>
