<template>
  <Layout>
    <h1>Elasticsearch</h1>
    <ul>
        <li><a href="https://docs.gitlab.com/ee/administration/troubleshooting/elasticsearch.html" target="_blank">Troubleshooting Elasticsearch</a></li>
    </ul>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Troubleshooting Elasticsearch',
    meat: [
      { name: 'author', content: 'Brie Carranza' }
    ]
  }
}
</script>
