<template>
  <Layout>
    <h1>Kubernetes</h1>

<h3>kubectl</h3>

<p>Get the API url via kubectl:</p>
<pre>kubectl cluster-info | grep 'Kubernetes master' | awk '/http/ {print $NF}'</pre>

  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Troubleshooting Elasticsearch',
    meat: [
      { name: 'author', content: 'Brie Carranza' }
    ]
  }
}
</script>
