<template>
  <Layout>
    <h1>Mattermost</h1>
    <p>From a fresh install of GitLab, here's what I did:</p>
    <p>I wanted to run GitLab Mattermost at "https://mattermost.secretbank.org". I created an **A** record that pointed to the IP of my GitLab instance. Per the [getting started](https://docs.gitlab.com/omnibus/gitlab-mattermost/) docs, I then added this line to `gitlab.rb`:
    </p>

    <pre>
```
mattermost_external_url 'https://mattermost.secretbank.org'
```
    </pre>
    <p>
Now, `gitlab-ctl reconfigure`

<ul>
  <li>Browse to `https://mattermost.secretbank.org`</li>
  <li>Authorize GitLab to act as your SSO provider for GitLab Mattermost</li>
</ul>

</p>

<h2> What version of GitLab Mattermost do I have?</h2>
<p>

Use the <pre>get-gitlab-mattermost-version.sh</pre> <a href="https://gitlab.com/bcarranza/notebook/-/snippets/2046593"> snippet</a>. 

</p>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Troubleshooting Elasticsearch',
    meat: [
      { name: 'author', content: 'Brie Carranza' }
    ]
  }
}
</script>
