<template>
  <Layout>
    <h1>About me</h1>
    <p>My name is <b>Brie</b>. You can learn more in my <a href="https://bcarranza.gitlab.io/readme/">README</a>.</p>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'About me',
    meat: [
      { name: 'author', content: 'Brie Carranza' }
    ]
  }
}
</script>
