<template>
  <Layout>

    <!-- Learn how to use images here: https://gridsome.org/docs/images -->
    <g-image alt="Example image" src="~/knowledge-is-power.png" width="335" />

    <h1>Hello, world!</h1>

    <p>
      This is my digital notebook. OK. This is one of my digital notebooks. 
    </p>
    <p>
    GitLab has a <a href="https://docs.gitlab.com/ee/development/architecture.html#adapting-existing-and-introducing-new-components">lot of components</a>. This notebook contains notes I took as I learned bits and pieces about those components, with an eye towards how they apply to GitLab. 
    </p>
    <p>
    <h3>Subjects</h3>
    <ul>
    <li><a href="subjects/elasticsearch">Elasticsearch</a></li>
     <li><a href="subjects/kubernetes">Kubernetes</a></li>
        <li><a href="subjects/mattermost">Mattermost</a></li>
    </ul>

    <p class="home-links">
      <a href="https://bcarranza.gitlab.io/notebook" target="_blank" rel="noopener">Served via GitLab Pages</a>
      <a href="https://gitlab.com/bcarranza/notebook" target="_blank" rel="noopener">Source</a>
    </p>

  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Hello, world!'
  }
}
</script>

<style>
.home-links a {
  margin-right: 1rem;
}
</style>
